<h1>Listing entries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Image</th>
    <th>Thumb1</th>
    <th>Thumb2</th>
    <th>Thumb3</th>
    <th>Description</th>
    <th>Section</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.name %></td>
    <td><%= entry.url %></td>
    <td><%= entry.image %></td>
    <td><%= entry.thumb1 %></td>
    <td><%= entry.thumb2 %></td>
    <td><%= entry.thumb3 %></td>
    <td><%= entry.description %></td>
    <td><%= entry.section_id %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
