!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Jeffrey Carl Faden's personal website.", :name => "Description"}
    %meta{:content => "Jeffrey Carl Faden", :name => "author"}
    %meta{:content => "JeffreyATW, web development, comics, music, midi, blog", :name => "Keywords"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title JeffreyATW.com
    %link{:href => "//fonts.googleapis.com/css?family=Nobile:regular,bold|Carter+One", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag "welcome"
    %link{:href => "https://www.google.com/accounts/o8/ud?source=profiles", :rel => "openid2.provider"}
    %link{:href => "http://www.google.com/profiles/jeffreyatw", :rel => "openid2.local_id"}
    %link{:href => "http://www.livejournal.com/users/jeffreyatw/data/foaf", :rel => "meta", :title => "FOAF", :type => "application/rdf+xml"}
    %link{:href => "//jeffreyatw.com/feed", :rel => "alternate", :title => "RSS", :type => "application/rss+xml"}
    %link{:href => "//jeffreyatw.com/blog/feed/atom", :rel => "alternate", :title => "Atom", :type => "application/atom+xml"}
    = javascript_include_tag "modernizr"

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-134118-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    .rotation
      %hgroup
        %h1.main_heading{:title => "Jeffrey Carl Faden"} JeffreyATW
        %h2.anna= link_to "and Anna", "http://jeffreyandanna.us", :target => "blank"
      %nav
        %ul.nav_list
          %li.about
            %span About
          %li.portfolio
            %a{:href => "http://jeffreycarlfaden.com"}
              %span Portfolio
          %li.twitter
            %a{:href => "https://www.twitter.com/jeffreyatw"}
              %span Twitter
          %li.tumblr
            %a{:href => "http://jeffreyatw.tumblr.com"}
              %span Tumblr
          %li.facebook
            %a{:href => "https://www.facebook.com/jeffreyatw"}
              %span Facebook
          %li.journal
            %a{:href => "http://jeffreyatw.com/blog"}
              %span Blog
          %li.email
            %a{:href => 'mailto:jeffreyatw@gmail.com'}
              %span Email
          %li.archive
            %span Archive
    %section.about
      %h1 About
      = image_tag "portrait.jpg", :alt => "Portrait", :class => "border"
      %p I'm a web developer living in Berkeley, California. I enjoy biking, running, video games, web standards, good food, good beer, and webcomics.
    %section.portfolio
      %h1 Portfolio
      %ul
        - @sections.each do |section|
          %li
            = link_to section.name, "http://jeffreycarlfaden.com"
    %section.twitter
      %h1 Twitter
      %a.twitter-timeline{:href => "https://twitter.com/JeffreyATW", 'data-widget-id' => "390175922600439808"} Tweets by @JeffreyATW
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    %section.tumblr
      %h1 Tumblr
      = javascript_include_tag 'https://jeffreyatw.tumblr.com/js'
    %section.facebook.right
      %h1 Facebook
      %a{:href => "http://www.facebook.com/jeffreyatw", :target => "_TOP", :title => "Jeffrey Carl Faden"}
        %img.border{:src => "//badge.facebook.com/badge/6703168.141.1162389104.png"}/
    %section.journal.right
      %h1 Journal
      %ul
    %section.email.right
      %h1 Email
      %a{:href => 'mailto:jeffreyatw@gmail.com'} jeffreyatw@gmail.com
    %section.archive
      %h1 Archive
      %ul
        %li
          %a{:href => "/static/comics.shtml"} Comics
          \- some old comics I've done
        %li
          %a{:href => "/static/ddr_sims.shtml"} Simfiles
          \- beatmania and DDR simfiles
        %li
          %a{:href => "/static/midi.shtml"} Midi
          \- my midi transcriptions and compositions
      %h2 Previous Site Versions
      %ul#versionlist
        %li
          %a{:href => "http://sentra.tripod.com"} v1
        %li
          %a{:href => "/index_v2.shtml"} v2
        %li
          %a{:href => "/index_v3.shtml"} v3
        %li
          %a{:href => "/index_v4.shtml"} v4
        %li
          %a{:href => "/index_v5.shtml"} v5
        %li
          %a{:href => "/index_v6.shtml"} v6
        %li
          %a{:href => "http://www.livejournal.com/customview.cgi?styleid=419413&user=jeffreyatw"} v7
        %li
          %a{:href => "http://www.livejournal.com/customview.cgi?styleid=481429&user=jeffreyatw"} v8
        %li
          %a{:href => "http://www.livejournal.com/customview.cgi?styleid=497465&user=jeffreyatw"} v9
        %li
          %a{:href => "http://www.livejournal.com/customview.cgi?styleid=565270&user=jeffreyatw"} v10
        %li
          %a{:href => "/v11/"} v11
        %li
          %a{:href => "/v12/"} v12
    = javascript_include_tag 'welcome'