- section.entries.visible.each do |entry|
  %li.entry{"data-mp4" => entry.mp4, "data-webm" => entry.webm}
    .entry_heading_container
      %h2.entry_heading= entry.name
    .contents
      .video{:style => "background-image: url(#{entry.image});"}
        .gradient
      .container
        .description
          %em= entry.pub_date.strftime("%B %Y")
          = entry.description.html_safe
        .cta_container
          %a.cta{:href => entry.url, :target => "_blank"}
            Visit #{entry.name}