- section.entries.visible.each do |entry|
  %li.entry{"data-mp4" => (entry.mp4.present? ? entry.mp4 : nil), "data-webm" => (entry.webm.present? ? entry.webm : nil), "data-poster" => (entry.image.present? ? entry.image : nil)}
    .entry_heading_container
      %h2.entry_heading= entry.name
    .contents
      .video{:style => "background-image: url(#{entry.image});"}
        .gradient
      .container
        .description
          %em= entry.pub_date.strftime("%B %Y")
          = entry.description.html_safe
        .cta_container
          %a.cta{:href => entry.url, :target => "_blank"}
            Visit #{entry.name}