!!!
%html{:class => "no-js"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "initial-scale=1.0, maximum-scale=1.0"}
    %meta{:name => "description", :content => "The portfolio of Jeffrey Carl Faden. Has descriptions of works, and links to a resume and contact info."}
    %meta{:content => "JeffreyATW.com", :property => "og:site_name"}/
    %meta{:content => "/assets/portrait.jpg", :property => "og:image"}/
    %meta{:content => "Jeffrey Carl Faden's Portfolio", :property => "og:title"}/
    %meta{:content => (url_for :only_path => false), :property => "og:url"}/
    %meta{:content => "The portfolio of Jeffrey Carl Faden. Has descriptions of works, and links to a resume and contact info.", :property => "og:description"}/
    = auto_discovery_link_tag :atom, portfolio_feed_url
    = auto_discovery_link_tag :rss, portfolio_feed_url(:format => :rss)
    %title Jeffrey Carl Faden's Portfolio
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Titillium+Web:900,700"
    = stylesheet_link_tag "portfolio"
    = javascript_include_tag "modernizr-portfolio"
  %body
    %h1.main_heading Jeffrey Carl Faden
    - @sections.each do |section|
      %section.section{"data-mp4" => (section.mp4.present? ? section.mp4 : nil), "data-webm" => (section.webm.present? ? section.webm : nil), "data-poster" => (section.image.present? ? section.image : nil)}
        - if section.mp4.present? or section.webm.present?
          .section_video.video{:style => "background-image: url(#{section.image});"}
            .gradient
        %h1.section_heading= section.name
        - if section.description.present?
          .section_description
            = section.description.html_safe
        - section.subsections.visible.each do |subsection|
          %section.subsection
            %h1.subsection_heading= subsection.name
            %ul.entries
              = render :partial => "portfolio/section", :object => subsection
    %section.section
      %h1.section_heading
        = link_to "Resume", "http://jeffreyatw.com/resume", :target => "_blank"
    %section.section
      %ul.contact_slots
        %li
          %a{:href => "mailto:jeffreyatw@gmail.com", :class => "email", :target => "_blank"}
            Email
        %li
          %a{:href => "https://twitter.com/JeffreyATW", :class => "twitter", :target => "_blank"}
            Twitter
        %li
          %a{:href => "https://www.facebook.com/jeffreyatw", :class => "facebook", :target => "_blank"}
            Facebook
        %li
          %a{:href => "http://www.linkedin.com/in/jeffreycarlfaden", :class => "linkedin", :target => "_blank"}
            LinkedIn

    = javascript_include_tag "portfolio"