!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Jeffrey Carl Faden's Portfolio
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Titillium+Web:700"
    = stylesheet_link_tag "portfolio"
  %body
    %h1.main_heading Jeffrey Carl Faden
    - @sections.each do |section|
      %section.section
        %h1.section_heading= section.name
        .wrapper
          - section.subsections.visible.each do |subsection|
            %section.subsection
              %h1.subsection_heading= subsection.name
              %ul.entries
                = render :partial => "portfolio/section", :object => subsection
    = javascript_include_tag "portfolio"